################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CRMUGDevDemo/.vs/CRMUGDevDemo/v14/.suo
