<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="CRMUGDemo" connectionString="AuthType=AD;Url=https://crmserver2015.crm.data-8.co.uk/CRMUGDevDemo;Domain=CRM;UserName=crm\administrator;Password=data8pwd!" />
  </connectionStrings>
</configuration>